<div class="card mb-4">
  <div class="card-body">
    <h4 class="card-title"><%= fa_icon "door-open", class:" mr-1" %> Bienvenue sur ForuMia</h4>
    <p class="card-text">
      ForuMia est un forum de discussion en développement depuis fin Août 2019.
      Il a été créé par Nox, anciemment Cinox, créateur de multiples 
      JVC-Like entre 2010 et 2012.
    </p>
    <p class="card-text">
      Le but de ce forum est de créer une communauté libre, unie et conviviale,
      où le staff se veut attentif et à l'écoute des membres. Si tu souhaites
      participer à ce projet, n'hésites pas à nous rejoindre !
    </p>
    <% if !current_user %>
      <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
        <%= fa_icon "user-plus", class:" mr-1" %> Rejoindre ForuMia
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col mr-2">
              <div class="font-weight-bold text-uppercase mb-1 float-right">Messages postés</div>
              <div class="h5 mb-0 font-weight-bold text-gray-300">0</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col mr-2">
              <div class="font-weight-bold text-uppercase mb-1 float-right">Membres inscrits</div>
              <div class="h5 mb-0 font-weight-bold text-gray-300"><%= @user_count %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-users fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>