/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'font_awesome5_webfont';
 @import 'font_awesome5.css';
 @import 'select2';
 @import 'select2-bootstrap';

 html {
  scroll-behavior: smooth;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.mark-all {
  height: auto!important;
}

.notification[data-count]:after {
  position:absolute;
  right:5%;
  top:6%;
  content: attr(data-count);
  font-size:70%;
  padding:.4em;
  border-radius:25%;
  line-height:.50em;
  color: #fff;
  background: #E74C3C;
  text-align:center;
  min-width:1em;
  font-weight:bold;
}

@media (max-width: 992px) {
  .notification[data-count]:after {
    right:30%;
  }
}

.dropdown-notification{
  width: 500px!important;
}

.edit_notification {
  height: 52px;
}

.dropdown-notification .dropdown-item {
  white-space: unset;
  height: 52px;
}

.dropdown-notification a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: #fff!important;
}

.avatar-notification {
  height: 45px !important;
  width: 45px !important;
  margin-top: -1px;
  margin-right: 10px;
  float: left;
  border-radius: 50%;
}

.date-notification {
  font-size: 10px;
  color: #9e9e9e;
}
