<footer class="py-5">
<div class="container">
  <p class="m-0 text-center">Copyright &copy; <%= link_to 'Forumia', root_path %> 2019</p>
  <p class="m-0 text-center">Développé par <%= link_to 'Nox', user_path('Nox') %></p>
</div>
</footer>