<div class="card mb-4">
  <h3 class="card-header"><i class="fas fa-comments mr-2"></i> Forums</h3>
  <ul class="list-group list-group-flush">
    <a href="#" class="list-group-item"><i class="fas fa-chevron-circle-right mr-2"></i> Cras justo odio</a>
    <a href="#" class="list-group-item"><i class="fas fa-chevron-circle-right mr-2"></i> Dapibus ac facilisis in</a>
  </ul>
</div>

<div class="card mb-4">
  <h3 class="card-header"><i class="fas fa-globe mr-2"></i> En ligne (<%= @users_online.count %>)</h3>
  <div class="card-body">
    <% if @users_online.count == 0 %>
      Aucun utilisateur n'est connecté.
    <% end %>
    <% @users_online.each do |u| %>
      <%= link_to display_role_user(u), user_path(u.username) %>
    <% end %>
  </div>
</div>